* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #212121;
    color: #fff;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#clock {
    font-size: 40px;
    border-radius: 3px;
    background-color: orange;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 20px 40px;
    margin-top: 10px;
}